.header {
  width: 100vw;
  height: 56px;
  background: white;
  display: flex;
  position: fixed;
  /* box-shadow: 0 2px #f6f6f6; */
  justify-content: space-between;
  align-items: center;
  flex: 1;
  z-index: 10;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 2px #888;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__profile {
  display: flex;
  align-items: center;
  justify-content: start;
  min-width: 120px;
  border-radius: 16px;
  height: 36px;
  margin-right: 20px;
}

.header__profile:hover {
  background-color: #f6f6f6;
}
.header_img {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-right: 8px;
  margin-left: 4px;
}

.header__logo > h1 {
  margin-top: 10px;
  margin-left: 10px;
}

.header__icon {
  border-radius: 14px;
  padding: 10px;
  font-size: 20px;
  position: relative;
}
.header__icon:hover {
  background-color: #f6f6f6;
}

.header__logout {
  margin-right: 20px;

  height: 25px;
  background-color: rgb(236, 59, 59);
  color: white;
  align-items: center;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.header__logout:hover {
  background: rgba(236, 59, 59, 0.8);
}
