.login {
  background-color: #f1f1f1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100vw;
}
.login__backgroundImage {
  width: 100%;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
.login__title {
  display: flex;
  position: absolute;

  padding-left: 50px;
}
.login__title > h1 {
  color: rgb(0, 87, 145);
}
.login__note {
  display: flex;
  position: absolute;
  flex-direction: column;
  left: 50px;
  top: 50px;
}
.login__note > p {
  margin: 0px;
  padding: 0px;
}
.login__link {
  margin: 0px;
  width: fit-content;
}
.login__container {
  z-index: 1;
  flex-direction: column;
  width: 450px;
  display: flex;
  border-radius: 5px;

  border: 1px solid lightgray;
  padding: 20px;
  position: absolute;
  top: 150px;
  background-color: white;
  right: 200px;
}
.ant-form-item-label > label {
  min-width: 123px;
}

.login__container > h1 {
  font-weight: 500;
  margin-bottom: 20px;
}

.login__container > form > h5 {
  margin-bottom: 5px;
}

.login__container > form > input {
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 98%;
  border-radius: 2px;
}

.login__container > p {
  margin-top: 15px;
  font-size: 12px;
}

.login__signInButton {
  background-color: rgb(0, 87, 145);
  color: white;
  border-radius: 2px;
  width: 300px;
  height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border: none;
  cursor: pointer;
  margin-left: 60px;
}
.login__signInButton:hover {
  background: rgba(0, 87, 145, 0.8);
}
